body {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    background: rgb(20, 25, 60);
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

#main-heading {
    text-align: center;
    font-family: Arial black;
    color: white;
    text-decoration: underline;
    letter-spacing: .3rem;
    margin: auto;
    margin-bottom: 15px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.team {
    text-align: center;
    font-family: arial black;
    font-size: 28px;
    letter-spacing: .3rem;
    margin: 15px -5px 10px -5px;
    color: white;
}

.score {
    background: black;
    text-align: center;
    font-family: Technology, Arial, Helvetica, sans-serif;
    font-size: 75px;
    margin-top: -5px;
    margin-bottom: 8px;
    color: rgb(237, 53, 87);
    
}

button {
    font-family: Technology;
    font-size: 20px;
    padding: 8px;
    margin: 4px;
    color: rgb(160, 183, 215);
    background-color: rgb(20, 25, 60);
    border: 2px solid rgb(160, 183, 215);
    border-radius: 5px;
}

.clear-btn {
    justify-content: center;
    width: 163px;
    font-size: 25px;
}

img {
    display: block;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}